$gray-color: rgb(51, 54, 57);
$gray-color-text: rgb(113, 118, 123);
$blue-color: rgb(29, 155, 240);
$blue-color-hover: rgb(26, 140, 216);

header {
    padding: 2rem 0 1.25rem 0;
    display: flex;
    justify-content: space-around;

    border-bottom: 1px solid $gray-color;

}

.form-wrapper {
    display: grid;
    grid-template-columns: 1fr 6fr;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray-color;

}

.img-wrapper {

    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1rem;
    margin-left: 1rem;

    img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}


.options-container {
    display: flex;
}

.svg-container {

    // margin-right: 1rem;
    padding: 0.4rem;

    &:hover {
        background-color: rgba(29, 155, 240, 0.1);
        border-radius: 100%;
    }

    svg {
        width: 1.5rem;
        height: auto;
        fill: $blue-color-hover;
    }
}

.wrapper-flex {
    display: flex;
    justify-content: space-between;
}

.wrapper-btn {
    display: flex;
    align-items: center;

    button {
        border-radius: 1.25rem;
        margin-right: 1rem;
        padding: 0.5rem 1rem;
        font-weight: 800;
        border: none;
    }
}


.new-tweet {
    background-color: transparent;
    border: 0;
    font-size: 1.25rem;
    padding: 1rem 0;
    color: white;
    width: 100%;


    &:focus {
        border: 0;
        outline: 0;
    }
}


.lower-line {
    color: $gray-color-text;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        align-items: center;
        gap: 0.25rem;
    }

    svg {
        fill: $gray-color-text;
        width: 1rem;
    }
}